name: Windows GitHub CI

on:
  pull_request: []
  push: []
  schedule:
    # Run this experiment every 4th hour
    # * is a special character in YAML so you have to quote this string
    - cron:  '* */8 * * *'

jobs:
  build-and-test-vigenere:
    strategy:
      matrix:
        platform:
          - arch: x64
            target: VC-WIN64A
          - arch: x86
            target: VC-WIN32
    runs-on: windows-latest
    steps:
      - uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: ${{ matrix.platform.arch }}
      - name: install cpanm and Test2::V0
        uses: perl-actions/install-with-cpanm@v1
        with:
          install: Test2::V0
      - name: checkout vigenere
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: checkout OpenSSL
        uses: actions/checkout@v2
        with:
          repository: openssl/openssl
          path: openssl
      - name: configure OpenSSL for ${{matrix.platform.target}}
        run: |
          $cwd = Get-Location
          mkdir ..\openssl-install
          perl Configure ${{matrix.platform.target}} --prefix="$cwd\..\openssl-install" no-asm
        working-directory: openssl
      - name: build+install OpenSSL
        run: nmake /S install_sw
        working-directory: openssl
      - name: configure Vigenere provider
        run: |
          $cwd = Get-Location
          cmake -A ${{ matrix.platform.arch }} -DCMAKE_PREFIX_PATH="$cwd\openssl-install" -S . -B _build --log-level DEBUG
      - name: build Vigenere provider
        run: cmake --build _build
      - name: test Vigenere provider
        run: ctest -VV -C Debug
        working-directory: _build
